<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>642187149715-rlkbqsomh7arrbolgoce6fv50bs6vj10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642187149715-rlkbqsomh7arrbolgoce6fv50bs6vj10</string>
	<key>API_KEY</key>
	<string>AIzaSyBhKGL3EXoqedJiI2vnYLdSw1-6OJPdMnU</string>
	<key>GCM_SENDER_ID</key>
	<string>642187149715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>themkrage.Mentor</string>
	<key>PROJECT_ID</key>
	<string>mentor-d94b2</string>
	<key>STORAGE_BUCKET</key>
	<string>mentor-d94b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642187149715:ios:5094e17910b87825</string>
	<key>DATABASE_URL</key>
	<string>https://mentor-d94b2.firebaseio.com</string>
</dict>
</plist>